<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @tweet.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @tweet.user.name %>
</p>

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Edit', edit_tweet_path(@tweet), class: "btn btn-default" %>
  <%= link_to 'Back', tweets_path, class: "btn btn-default" %>
</div>
