<%= form_for(@user, html: {class: "form-group"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">@</span>

    <%= f.text_field :name, class: "form-control",placeholder: "Username" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= link_to 'Back', tweets_path, class: "btn btn-default" %>
    <%= f.submit class:  "btn btn-primary"%>
  </div>
<% end %>
