<div class="media hr big_margin">
  <div class="media-left">
    <%= image_tag("/images/#{@user.id}.jpg", class: "media-object bigger_image")%>
  </div>

  <div class="media-body">
    <h4 class="media-heading">
      @<%= @user.name %>
    </h4>
    <%=t('users.show.since')%>
    <%= time_ago_in_words(@user.created_at) %>
  </div>
</div>


<%= render "follow" if logged_in? %>
<%= render "tweets/tweets",:locals => { :tweets => @user.tweets } %>

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Back', home_path, class: "btn btn-default back" %>
</div>
