<!DOCTYPE html>
<html>
<head>
  <title>FakeTwitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <%= image_tag("pirate_twitter.png", :alt => "fake", class: "logo") %>
          <span>
            <%= t 'fake_title' %>
          </span>
        </a>
      </div>
      <% if logged_in? %>
        <!-- <div class="nav navbar-right"> -->
          <%= link_to image_tag("new_tweet.png", class: "new_tweet_img"), new_tweet_path %>
        <!-- </div> -->
        <%= link_to t('logout'), logout_path, method: "delete", class: "navbar-text navbar-right log_out" %>
      <% else %>
          <%= link_to t('login'), login_path, class: "navbar-text navbar-right", id: "log_in" %>
      <% end %>
    </div>
  </nav>

  <div id="main-container" class="container">
    <%= yield %>
  </div>
</body>
</html>
